/* HTML Elements */
body {
    font-size: 75%;
    color: #e73684;
    text-align: center;
}
h1, a {
    color: #e73684;
}

/* IDs */
#pink-inner {
    background: #e73684;
    color: #fff;
    padding: 5px;
}
#pink-middle {
    background: #fff;
    padding: 5px;
}
#pink-outer {
    background: #e73684;
    padding: 5px;
    width: 620px;
    margin: auto;
    margin-bottom: 3px;
}
#message {
    min-height: 300px;
    height: auto !important;
    height: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500%;
    font-weight: bold;
}
#warning {
    text-align: center;
    font-size: 85%;
    font-family: Arial, Helvetica, sans-serif;
}
#your-own {
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#sign-url {
    font-size: 120%;
}
#sign-url > input {
    font-size: 120%;
    width: 350px;
}
#ads468x60 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer {
    margin-top: 10px;
}

/* Classes */
.clear {
    clear: both;
}
.error {
    color: #f00;
}
.success {
    color: #0f0;
}

/* End of file style.css */
/* Location ./styles/style.css */